body {
  /*background-color: #9ED8E6;*/
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

ul.nav-list, ul.tag-list, ul.archive-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div#container {
  margin: 0;
  padding: 0;
}

div#container a {
  text-decoration: none;
  border: 0;
}

div#container a {
  text-decoration: none;
  padding-bottom: 1px;
  color: #363637;
  border-bottom: 1px solid #FF007C;
}

div#container a:hover {
  border-bottom: 3px solid #FF007C;
  color: #FF007C;
}

div#nav {
  width: 500px;
  margin: 0 auto;
  text-align: right;
  text-transform: uppercase;
}

div#nav li {
  display: inline;
  margin: 20px;
  padding: 20px;
}

div#content {
  width: 500px;
  margin: 25px auto;
  color: #525253;
  line-height: 27px;
}

div#content h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #DBDADC;
  color: #363637;
  width: 350px;
  text-transform: uppercase;
}

div#content h2 a, div#content h2 a:hover {
  border: 0;
  text-decoration: none;
}

div#content h2 span.desc {
  font-size: 0.7em;
  font-weight: normal;
  color: #FF007C;
  margin-left: 1em;
}

div#content img {
  display: block;
  width: 500px;
  height: auto;
  border: 0;
}

div#header {
  background-color: #E3E2E4;
  border-bottom: 1px solid #DBDADC;
  padding: 2em;
}

div#footer {
  background-color: #E3E2E4;
  border-top: 1px solid #DBDADC;
  padding: 2em;
  text-align: center;
}

div#footer p {
  display: inline;
  margin: 0 5px;
}

div#container a.last {
  color: #FF007C;
}

div#meta {
  font-size: 0.8em;
  padding-top: 5px;
  border-top: 2px solid #DBDADC;
  color: #363637;
  width: 350px;
}

hr {
  border: 5px solid #FF007C;
  margin: 2em 0;
}

div#content ul.tag-list li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 2px;
}

div#tags a {
  color: #363637;
  border: none;
  font-size: 0.8em;
}

div#tags a:hover {
  color: #FF007C;
  border: none;
}
